/* =====================================================
   HOMEM E A MÁQUINA
   ESTRUTURA BASE DA TELA
===================================================== */


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



html,
body {

    width: 100%;
    height: 100%;

    overflow: hidden;

    background: #050814;

    font-family: Arial, sans-serif;

}



.app {

    width: 100%;

    height: 100dvh;

    display: flex;

    flex-direction: column;

}



/* TOPO */

.top-area {

    height: 55px;

    flex-shrink: 0;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 18px;

}



.hm-logo {

    width: 45px;

    height: 45px;

    border-radius: 12px;

    background: #18233d;

    color: white;

    display: flex;

    align-items: center;

    justify-content: center;

    font-weight: bold;

}



.settings-button {

    width: 38px;

    height: 38px;

    border-radius: 50%;

    border: none;

    background: #141c2d;

    color: white;

}



/* CENTRO */

.center-area {

    flex: 1;

    display: flex;

    align-items: center;

    justify-content: center;

}



/* BAIXO */

.bottom-area {

    height: 70px;

    flex-shrink: 0;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 20px;

}



.voice-button {

    width: 55px;

    height: 55px;

    border-radius: 50%;

    border: none;

    background: #304da8;

    color: white;

    font-size: 22px;

}



.keyboard-button {

    width: 42px;

    height: 42px;

    border-radius: 50%;

    border: none;

    background: #141c2d;

    color: white;

}
